.features {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 50px 0;
}

.feature {
  width: 30%;
  display: inline-block;
  padding: 20px;
  vertical-align: top;
}

.feature h2 {
  font-size: 30px;
  font-family: "Lato", sans-serif;
}

.feature p {
  font-size: 19px;
  margin-top: 10px;
  font-family: "Lato", sans-serif;
}

@media (max-width: 768px) {
  .feature {
    width: 100%;
  }
}
