.header {
  text-align: center;
  background: url("./Images/wolf.jpg") no-repeat center;
  height: 70vh;
  background-size: cover;
  background-attachment: fixed;
  color: #eaeaea;
  padding: 100px 0;
  position: relative;
}

.header-title {
  font-size: 100px;
  font-family: "Pacifico", cursive;
}

.download-btn {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 4px;
  text-decoration: none;
  transition: background 0.3s;
}

.download-btn:hover {
  background-color: rgba(24, 61, 92, 0.6);
}
