.navbar {
  background-color: #000;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-brand {
  color: #fff;
  font-size: 24px;
  font-family: "Titillium Web", sans-serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.nav-links a:hover {
  color: #144354;
}
