.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: gray;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li {
  font-size: 18px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: black;
}
